body {
    background-image: url("sea.jpg");
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}


p {
    color:whitesmoke; 
    font-size: 25px;
    padding: 50px;
    margin: 70px;
    border: 7px;
    border-color: black;
    border-style: solid;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.7);
    
}

h2 {
    font-size: 30px;
    color: bisque
    
}

h1 {
    font-size: 35px;
}